<div id="product-content">
  <div id="product-column">
    <div id="product-photos">
      {% for image in product.images offset:2 %}
      <a href="{{ image | product_img_url: 'master' }}" title="{{ image.alt | escape }}" target="inland_image_{{ forloop.index }}">
	<img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}">
      </a>
      {% endfor %}
    </div>

    <div id="product-description">
      <a href="{{ product.images[1] | product_img_url: 'master' }}" title="{{ product.images[1].alt | escape }}" target="inland_image_main">
	<img src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}">
      </a>
      <h3>{{ product.title }}</h3>

      {% if settings.show_vendor %}{{ product.vendor | link_to_vendor }} ({% include 'states' %}){% endif %}
      <form action="/cart/add" method="post" class="variants" id="product-actions">
	<p class="purchase">
	  {% if product.price_varies %}
	  {{ product.price_min | money }}-{{ product.price_max | money }}
	  {% else %}
  	    {% if product.variants.first.compare_at_price %}
	    <span class="old-price">
	      {{ product.compare_at_price_max | money }}
	    </span>
	    <span class="new-price">
	      {{ product.price | money }}
	    </span>
            {% else %}
	      {{ product.price | money }}
            {% endif %}
	  {% endif %}
	  &mdash;
	  {% if product.available %}	
          <span{% if product.variants.size == 1 %} class="single-variant"{% endif %}> 
            <select id="product-select" name="id">
              {% for variant in product.variants %}
              <option value="{{ variant.id }}"
		      {% unless variant.available %}disabled{% endunless %}>
		{% for option in product.options %}
		{% if option contains "Size" %}
		{% if forloop.index == 1 %}
		{{ variant.option1 | escape }}
		{% else %}
		{{ variant.option2 | escape }}
		{% endif %}
		{% endif %}
		{% endfor %}
		{% if product.price_varies %}
		- {{ variant.price | money }}
		{% endif %}
		{% unless variant.available %} (sold out){% endunless %}
              {% endfor %}
            </select>
	    &mdash;
          </span>
	  <input type="submit" name="add" id="add-to-cart" value="Add to Cart" />
	  {% else %}
	  Sold out.
	  {% endif %}
	</p>
      </form>
      
      <p>
	{{ product.description }}
      </p>
      {% include 'makers' %}
    </div>
  </div>
</div>
